*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.comp{
    width: 80%;
    height: 250px;
    color: #fff;
    padding: 30px;
    margin: auto;
    text-align: center;
    background: rgb(87, 87, 220);
}
